h1{
    color:aqua;
    text-align: center;
    font-size: 80px;
    font-family:arial black ;
}
div.uno input{
background-color: aqua;
border-radius: 10px;
justify-content: center;
font-family: Arial black;
padding: 5px;
}

div.dos{
 font-family: Arial black;
}

body {
    background: rgb(6,8,14);
background: linear-gradient(180deg, rgba(6,8,14,1) 14%, rgba(49,103,201,1) 48%, rgba(89,200,255,1) 71%);
}
div.tres img{
    border-radius: 15px;
}
